[submodule "extern/quicly"]
	path = extern/quicly
	url = https://github.com/h2o/quicly.git
[submodule "extern/uthash"]
	path = extern/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "extern/mp-qperf"]
	path = extern/mp-qperf
	url = https://git.viasat.com/SystemSciences/mp-qperf
